<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link href="{{ asset('./css/style.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <title>Original French Tacos - O'Tacos</title>
</head>
<body class="body_acceuil">

<main class="page_acceuil">
    <div class="organisation">
        <div class="barredenav">
            <div class="sidebar">

                <div class="selection_lang">
                    <img src="./images/france.svg" alt="">
                    <a class="langue" href="">FR</a>
                </div>
    
                <div class="selection-nav">
                    <nav class="primary-nav">
                        <ul class="primary-nav__list">
                            <li class="primary-nav__item active">
                                <a class="primary-nav__link" href="#">Accueil</a>
                            </li>
                            <li class="primary-nav__item">
                                <a class="primary-nav__link" href="./click&collect">Click & Collect</a>
                            </li>
                        </ul>
                    </nav>
                </div>
    
                <footer class="footer">
                    <img class="logotacos" src="./images/logotacos.svg" alt="">
                    <div class="socialmedia">
                        <img class="fb" src="./images/fb.svg" alt="">
                        <img class="instagram" src="./images/insta.svg" alt="">
                    </div>
    
                    <div class="info">
                        <ul class="info_list">
                            <li class="info_item">
                                <a class="info_font" href="">Contact</a>
                            </li>
                            <li class="info_item">
                                <a class="info_font" href="">Mentions légales</a>
                            </li>
                            <li class="info_item">
                                <a class="info_font" href="">Cookie Policy</a>
                            </li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>

        <div>
            <header>
                <div>
                    <div class="header_acceuil">
                        <h1 class="header_title">42 INGREDIENTS</h1>
                        <img class="logo_accueil" src="./images/logotacos.svg" alt="">
                        <h1 class="header_title">40 000 COMBINAISONS</h1>
                    </div>
                </div>
            </header>


            <div class="clavier">
                <img src="./images/clavier.PNG" alt="">
            </div>
        </div>
    </div>
</main>>
</body>>